# Data Loading, storage and file formats

In [ ]:
type 'D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv'

In [2]:
import pandas as pd
df = pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv')
# same can also be done using read_table
df1=pd.read_table('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv',sep=',')
# header can be read or not, also custom headers can also be defined
df = pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv', header = None)
df
#Customized header can also be defined
df= pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv', names=['a','b','c','d','message'])
# existing column can also be defined as index by passing the index argument
name =['a','b','c','d','message']
df1=pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex1.csv', names=name, index_col='message')
df1

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [3]:
#multilevel indexing can also be done
parsed= pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/csv_mindex.csv', index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [6]:
#using list to see content of files
list(open('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex3.csv'))
# as we can see there is whitesapce use as delimiter
df3=pd.read_table('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex3.csv',sep='\s+')

# in case you want to skip some row use skiprow
df4= pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex4.csv', skiprows=[0,2,3])
df4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# to check for null value
pd.isnull(df4)

#NA values
result = pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex5.csv',na_values=['NULL'])
result

#sentinels are values like NA, -1.#IND, and NULL

# different Na sentinel can be specified for each column in a dict
#sentinels = {'message': ['foo', 'NA'], 'something': ['two'], 'a' : [5]} # Any value can be set to NA by specifying the column name and passing the name of the element
d1= pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex5.csv', na_values=sentinels)
d2= pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex5.csv')
print(d1)
print(d2)

  something    a   b     c   d message
0       one  1.0   2   3.0   4     NaN
1       NaN  NaN   6   NaN   8   world
2     three  9.0  10  11.0  12     NaN
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
#Resulting text files in pieces
# in case you want to pick a required number of rows use nrow

from pandas import Series
pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex6.csv',nrows=5)

# to read a file in pieces use chunksize
chunker=pd.read_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex6.csv',chunksize=1000)

tot = Series([])
for piece in chunker:
    tot =tot.add(piece['key'].value_counts(), fill_value=0)
tot =tot.sort_values(ascending = False)
tot

In [ ]:
#Writing data out to text format
import numpy as np
d1.to_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/output.csv')
#priniting text results
#d1.to_csv(sys.stdout, sep='|')
dates = pd.date_range('1/1/2000',periods =7)
ts =Series(np.arange(7),index=dates)
ts.to_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/output1.csv')
#a series can be read using from_csv method
Series.from_csv('D:/ISB/pydata-book-master/pydata-book-master/ch06/output1.csv', parse_dates=True)

In [ ]:
#Manually working with delimited formats
import csv
f = open('D:/ISB/pydata-book-master/pydata-book-master/ch06/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print line
    
#data can also be imported in dictionary
lines = list(csv.reader(open('D:/ISB/pydata-book-master/pydata-book-master/ch06/output1.csv')))
header, values = line[0], line[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

In [ ]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter      = ';'
    quotechar      = '"'
    
reader =csv.reader(f, dialect=my_dialect)

In [76]:
reader = csv.reader(f, delimiter ='|')

In [ ]:
#JSON data
#use json.load
#json.dump on the other hand converts python object back to JSON

In [ ]:
#XML and HTML: Web scraping